@charset "UTF-8";

* {
    font-size: 25px;
}
ul {
    font-size: 2rem;
}
li {
    font-size: 3em;
}
p {
    font-size: 15px;
}
h1 {
    font-size: calc(5rem - 5px);
}
h1:hover {
    font-size: 120px;
    color: black;
}